<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ajax Message</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
</head>
<style>


</style>
<body>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/guestbook">Guestbook</a></li>
          <li><a href="/newmessage">New Message</a></li>
          <li><a href="/ajaxmessage">New Ajax Message</a></li>
        </ul>
      </nav>
    </header>
    <div class="welcome-box">
      <h1>Welcome to the Guestbook App!</h1>
      <h2>See other guests from Guestbook page or add yourself to the Guestbook trough New Message or New Ajax Message pages</h2>
    </div>
    <footer>Made by Kim Dinh</footer>
  </body>
</body>
</html>