<html>
<h1>Make this page pretty with bootstrap or pure.css</h1>
<body>
    <a href="https://guestbookexcercise.herokuapp.com/">homepage</a>
    <a href="https://guestbookexcercise.herokuapp.com/guestbook">Guestbook</a>
    <a href="https://guestbookexcercise.herokuapp.com/newmessage">message</a>
    <a href="https://guestbookexcercise.herokuapp.com/ajax">Ajax</a>
    <h1>Add guest and message</h1>
    <div>
        <form method="post" action="/newmessage">
                <label>Username</label>
                <input type="text" name="Username" value="Anonymous">

                <label>Country</label>
                <input type="text" name="Country">

                <label>Message</label>
                <input type="text" name="Message">

                <input type="submit" value="Submit">
        </form>

    </div>
</body>
</html>